{% extends 'base.html' %} {% block title %} About us {% endblock title %} {% block body %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Our Team</p>
            <h1 class="text-uppercase">Meet Our Team</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:aakashbr20comp@student.mes.ac.in"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/sayaakash"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/aakashrathod21/"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Aakash Rathod</h5>
                        <!-- <span class="text-primary">Designation</span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img6.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:tanviap20comp@student.mes.ac.in"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/sayaakash"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/tanvi-patil-97a0b5219"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Tanvi Patil</h5>
                        <!-- <span class="text-primary">Designation</span> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img2.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square" href="mailto:taaha.m@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://www.github.com/taaaahahaha"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/taaha-multani-b02999208"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Shriram Sabade</h5>
                        <!-- <span class="text-primary">Designation</span> -->
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="static/img/img4.jpg" alt="">
                        <div class="team-social">

                            <a class="btn btn-square" href="mailto:akhilesh.soni@somaiya.edu"><i class="fab fa-google"></i></a>
                            <a class="btn btn-square" href="https://github.com/Akilesh21"><i class="fab fa-github"></i></a>
                            <a class="btn btn-square" href="https://www.linkedin.com/in/akilesh-soni-b38759212"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Darshan Takarkhede</h5>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Back to Top -->
<!-- <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/lib/wow/wow.min.js"></script>
<script src="static/lib/easing/easing.min.js"></script>
<script src="static/lib/waypoints/waypoints.min.js"></script>
<script src="static/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="static/js/main.js"></script>

{% endblock body %}